# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# IDEs and editors
/.idea
.project
.classpath
augslink-rooms.iml
.c9/
*.launch
.settings/
*.sublime-workspace